$text-color: #191a1e;
$grey-color: #64748b;

$reading-text: #c77c41;
$reading-background: #fffbeb;
$read-text: #4b6c20;
$read-background: #f7fee7;

$base-mb: 1rem;

// Breakpoints
$breakpoints: (
  "mobile": 720px,
);
